[submodule "data/dist_files_1gbps"]
	path = data/dist_files_1gbps
	url = https://bitbucket.org/dc_group/dist_files_1gbps.git
[submodule "data/dist_files_40_10gbps"]
	path = data/dist_files_40_10gbps
	url = https://bitbucket.org/dc_group/dist_files_40_10gbps.git
[submodule "data/dist_files_100gbps"]
	path = data/dist_files_100gbps
	url = https://bitbucket.org/dc_group/dist_files_100gbps.git
